
<h1>Editing Book</h1>
<div class="field">
	<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
      <div class="errors"><strong><%= @book.errors.count %> errors prohibited this book from being saved:</strong>
      </div>
      <ul>
          <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
 
  <div class="field">Title<br>
  <%= f.text_field :title %> <br>
  </div>
  <div class="field">Body
  </div>
  <%= f.text_area :body %><br>
  <%= f.submit 'Update Book' %>
 
<% end %>


<div class="edit">
		<%= link_to "Show", book_path(@book) %>
	</div>
	|
	<div class="edit">
	    <%= link_to "Back", books_path %>
	</div>